<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,115},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>back_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,49},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>ctrl_btn_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,223},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>ctrl_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>goto_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{121,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,27}}</string>
                <key>sourceSize</key>
                <string>{121,27}</string>
            </dict>
            <key>goto_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,223},{121,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,27}}</string>
                <key>sourceSize</key>
                <string>{121,27}</string>
            </dict>
            <key>green_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>help_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>jump_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,49},{62,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,21}}</string>
                <key>sourceSize</key>
                <string>{62,21}</string>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>next_btn_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,181},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>next_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,181},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>next_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>next_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>play_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,115},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,115},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>power_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,115},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>power_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,49},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>power_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,49},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>power_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,49},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>power_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,333},{165,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,68}}</string>
                <key>sourceSize</key>
                <string>{165,68}</string>
            </dict>
            <key>pre_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>pre_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>pvc_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{294,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,27}}</string>
                <key>sourceSize</key>
                <string>{294,27}</string>
            </dict>
            <key>pvc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,403},{249,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,29}}</string>
                <key>sourceSize</key>
                <string>{249,29}</string>
            </dict>
            <key>pvp_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{294,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,27}}</string>
                <key>sourceSize</key>
                <string>{294,27}</string>
            </dict>
            <key>pvp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{220,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,29}}</string>
                <key>sourceSize</key>
                <string>{220,29}</string>
            </dict>
            <key>rateme_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>rateme_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>replay_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,333},{121,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,27}}</string>
                <key>sourceSize</key>
                <string>{121,27}</string>
            </dict>
            <key>replay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,223},{121,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,27}}</string>
                <key>sourceSize</key>
                <string>{121,27}</string>
            </dict>
            <key>skip_btn_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>skip_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,181},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>sound_disable_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>sound_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>sound_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,49},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>start_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,49},{64,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,21}}</string>
                <key>sourceSize</key>
                <string>{64,21}</string>
            </dict>
            <key>tomenu_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,115},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>tomenu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,115},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>yellow_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GUI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad866c325995d353749e458865cbb63$</string>
            <key>textureFileName</key>
            <string>GUI.png</string>
        </dict>
    </dict>
</plist>
